<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="d-flex justify-content-evenly">
        <center>
        <h1>Your Image Results</h1>
        {% for image in images %}
            <div class="image-container p-2">
                <img src="{{ url_for('static', filename='output_images/' + image) }}" alt="{{ image }}">
                <p class="img_name">{{ image }}</p>

                <!-- Download button -->
                <div>
                    <a href="{{ url_for('static', filename='output_images/' ~ image) }}" download="{{ image }}">
                        <button type="button" class="btn btn-success">Download Now</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </center>
    <button class="back_butt" onclick="history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</button>
        </div>
    

    <script>
        window.onload = function DateSet() {
        const d = new Date();
        let year = d.getFullYear();
        document.getElementById("yearTxt").innerHTML = year; 
        };
    </script>
    
    <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="https://github.com/digitalev2000" class="fa fa-github"><span class="label"></span></a></li>
            <li><a href="https://dribbble.com/berry_richard" class="fa fa-dribbble"><span class="label"></span></a></li>
            <li><a href="mailto:berry.richard1@gmail.com" class="fa fa-envelope"><span class="label"></span></a></li>
          </ul>
         
          <ul class="copyright">
            <li>&copy; <span id="yearTxt"></span> Richard B.</li><li>Design: <a href="http://www.letsbuildwebsites.net/">Lets Build Websites</a> LLC.</li>
          </ul>
        </div>
      </footer>

</body>
</html>